.button {
	-fx-background-color: #8FBC8F;
	-fx-text-fill: #FFFAFA;
}
.textfield {
	-fx-border-color: #cccccc;
	-fx-background-color: white;
	-fx-border-radius: 4;
	-fx-background-radius: 4;
	-fx-effect: innershadow(gaussian, transparent, 0, 0, 0, 0);
}

.textfield:focused{
	-fx-border-color: #66afe9;
	-fx-effect: dropshadow(gaussian, #66afe9, 10, 0, 0, 0);
}